# 忽略编译生成的文件
*.o             # 匹配所有以".o"结尾的文件
*.out           # 匹配所有以".out"结尾的文件
*.exe           # 匹配所有以".exe"结尾的文件

# 忽略日志文件和其他临时生成的文件
MDK-ARM/STM32L431_TSC/
logs/           # 匹配名为"logs"的目录
temp*           # 匹配以"temp"开头的文件

# 取消忽略规则，以跟踪特定文件
!main.c         # 不忽略名为"main.c"的文件
!README.md      # 不忽略名为"README.md"的文件